<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">

    <!-- CSS here -->
        <link rel="stylesheet"  th:href="@{/assets/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">

        <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
        <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
        <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
        <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">

<style type="text/css">
.custom-img{
	margin-left: 37%;
}
</style>
</head>
    

<body>
    
    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="/products">Products</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                     </li>
                                    <li>
                                        <div class="shopping-card">
                                        <div class="cart-number">3</div>
                                            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                   <li class="d-none d-lg-block"> <a href="/login" class="btn header-btn"  th:text="${username}">Sign in</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


  <!--================Single Product Area =================-->
  <div class="product_image_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="product_img_slide owl-carousel">
            <div class="single_product_img">
              <img th:src="${item.images}" alt="#" class="img-fluid custom-img">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="single_product_text text-center">
            <h3 th:text="${item.name}" >Foam filling cotton slow <br>
                rebound pillows</h3>
            <p th:text="${item.desc}">
                Seamlessly empower fully researched growth.
            </p>
            <div class="card_area">
            
            <form th:action="@{/cart/additem/{itemid} (itemid = ${item.id})}">
                <div class="product_count_area">
                    <p>Quantity</p>
                    <div class="product_count d-inline-block">
                        <span class="product_count_item inumber-decrement" onclick="decrease()"> <i class="ti-minus"></i></span>
                        <input class="product_count_item input-number" type="text" id="quantity" name="quantity" value="1" min="0" max="10">
                        <span class="product_count_item number-increment" onclick="increase()"> <i class="ti-plus"></i></span>
                    </div>
                    <p th:text="${'Rs. '+item.price}">$5</p>
                </div>
                <div class="add_to_cart">
                    <button type="submit" value="submit" class="btn_3">
                        Add to Cart
                    </button>
                </div>
           </form>
              <!-- <div class="add_to_cart">
                  <a href="#" class="btn_3">add to cart</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->
   <!-- subscribe part here -->
   <section class="subscribe_part section_padding">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="subscribe_part_content">
                      <h2>Get promotions & updates!</h2>
                      <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                      <div class="subscribe_form">
                          <input type="email" placeholder="Enter your mail">
                          <a href="#" class="btn_1">Subscribe</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- subscribe part end -->

  <footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                   <div class="single-footer-caption mb-50">
                     <div class="single-footer-caption mb-30">
                          <!-- logo -->
                         <div class="footer-logo">
                             <a href="index.html"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                         </div>
                         <div class="footer-tittle">
                             <div class="footer-pera">
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                         </div>
                     </div>
                   </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="#"> Get Coupon</a></li>
                                <li><a href="#">  Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>New Products</h4>
                            <ul>
                                <li><a href="#">Woman Cloth</a></li>
                                <li><a href="#">Fashion Accessories</a></li>
                                <li><a href="#"> Man Accessories</a></li>
                                <li><a href="#"> Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                             <li><a href="#">Frequently Asked Questions</a></li>
                             <li><a href="#">Terms & Conditions</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Report a Payment Issue</a></li>
                         </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Footer End-->
  </footer>
  <script type="text/javascript">
  function decrease() {
	  var x = document.getElementById("quantity").value;
	  if(x>1){
		  document.getElementById("quantity").value = --x;
	  }
	}
  
  function increase() {
	  var x = document.getElementById("quantity").value;
	  if(x<10){
		  document.getElementById("quantity").value = ++x;
	  }
	}
  </script>

		<!-- All JS Custom Plugins Link Here here -->
        <script th:src="@{./assets/js/vendor/modernizr-3.5.0.min.js}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script th:src="@{./assets/js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{./assets/js/popper.min.js}"></script>
        <script th:src="@{./assets/js/bootstrap.min.js}"></script>
	    <!-- Jquery Mobile Menu -->
        <script th:src="@{./assets/js/jquery.slicknav.min.js}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script th:src="@{./assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{./assets/js/slick.min.js}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script th:src="@{./assets/js/wow.min.js}"></script>
		<script th:src="@{./assets/js/animated.headline.js}"></script>
        <script th:src="@{./assets/js/jquery.magnific-popup.js}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script th:src="@{./assets/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{./assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{./assets/js/jquery.sticky.js}"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script type="text/javascript" th:src="@{/assets/js/plugins.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
</body>

</html>